<div *ngIf="!isLoaded" class="loading">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<div *ngIf="isLoaded" class="contain">
  <div class="row">
    <div class="row__inner">

      <div *ngFor="let item of films" class="tile">
        <div class="tile__media">
          <img class="tile__img" src="../../../assets/{{item.episode_id}}.jpg" alt=""  />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            {{item.title}} - Episodio: {{item.episode_id}}
          </div>
          <div class="tile__subtitle">
              Lanzamiento: {{item.release_date}} - Director: {{item.director}}
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
